.footer {
  display: grid;
  gap: 1.25em;
  margin-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

.footer__subhead {
  text-align: center;
}

.footer__buttons {
  display: flex;
  gap: 1.25em;
  justify-content: center;
}

.footer__buttons img {
  display: block;
  height: 2em;
  width: auto;
}

@media(min-width: 64em) {

  .footer {
    margin-bottom: 5em;
    padding-left: 4em;
    padding-right: 4em;
  }

}
