.header {
  display: grid;
  gap: 1.25em;
  margin-top: 1.25em;
  padding-left: var(--space-large);
  padding-right: var(--space-large);
}

.header__subhead {
  text-align: center;
}

.header__subhead p {
  color: var(--color-terminal-cyan);
  font-size: var(--font-size-medium);
}

.header__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

@media(min-width: 64em) {

  .header {
    padding-left: var(--space-xx-large);
    padding-right: var(--space-xx-large);
  }

}
