.header {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin-inline: auto;
  margin-top: 1.25em;
  text-align: center;
  width: min(100%, 48em);
}

.header .header__subhead p {
  color: var(--color-terminal-cyan);
  font-size: var(--font-size-medium);
}

.header .header__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
