.pre {
  display: grid;
  margin-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.pre pre {
  color: var(--color-green);
  font-size: clamp(0.43em, 1vw, 1em);
  justify-self: center;
  letter-spacing: -0.0425em;
  line-height: 1.09375;
  white-space: pre;
}

@media(min-width: 64em) {

  .pre {
    margin-top: 8em;
    padding-left: 4em;
    padding-right: 4em;
  }

}
