.video {
  display: grid;
  margin-inline: auto;
  padding-left: var(--space-large);
  padding-right: var(--space-large);
  width: min(100%, 90em);
}

.video iframe {
  aspect-ratio: 16/9;
  border: none;
  border-radius: 0.4em;
  box-shadow:
    0 0 0 1px rgba(var(--rgb-black), 0.3),
    0 0.3em 2.0em -1.2em rgba(var(--rgb-black), 0.1),
    0 0.6em 2.4em -1.6em rgba(var(--rgb-black), 0.2),
    0 0.9em 2.8em -2.0em rgba(var(--rgb-black), 0.3),
    0 1.2em 3.2em -2.4em rgba(var(--rgb-black), 0.4),
    0 1.5em 3.6em -2.8em rgba(var(--rgb-black), 0.5)
  ;
  display: block;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

@media(min-width: 64em) {

  .video {
    padding-left: var(--space-xx-large);
    padding-right: var(--space-xx-large);
  }

}
